{% extends "base.html" %} {% load static %} {% block page_content %}
<title>WiFi controlled Vehicle with Object Detection</title>
<h1>Live Video</h1>
<!-- <h2>{{ detections.detected_object }}</h2> -->
<div class="row">
    <div class="card">
        <div class="card mb-2">
            <!-- Render the video over here.. BUT HOW? -->
            <img class=img-card-top src="data:image/jpg;base64, {{ encoded_frame }}">
            <div class="card-body">
                <h5>{{ detections.detected_object }}</h5>
                <p>{{ detections.accuracy_score }}</p>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<form method="POST">
    <!-- <input type="button" name="start_button" value="START"> -->
    <input type="button" value="START" onclick="START:TRUE">
    <input type="button" value="STOP" onclick="start_button:false">
</form>
{% endblock %}